@using Knapcode.RemindMeWhen.Core.Models
@model Knapcode.RemindMeWhen.Website.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Search for an event</h1>
    <form role="form" method="GET">
        <div class="form-group">
            <label for="event-type">Event Type</label>
            <select class="form-control" name="eventType" id="event-type">
                @foreach (EventType eventType in Model.Parameters.EventTypes)
                {
                    if (@Model.Parameters.EventType == eventType.ToString())
                    {
                        <option value="@eventType" selected="selected">@eventType</option>
                    }
                    else
                    {
                        <option value="@eventType">@eventType</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="query">Movie Title</label>
            <input type="text" class="form-control" name="query" id="query" value="@Model.Parameters.Query">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    
    @if (Model.Results != null)
    {
        <h2>Results</h2>
        <table class="table">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
            @foreach (MovieReleasedEvent e in Model.Results.Events)
            {
                <tr>
                    <td>
                        @if (e.Content.ImageUrl != null)
                        {
                            <img src="@e.Content.ImageUrl" />
                        }
                    </td>
                    <td>@e.Content.Title</td>
                    <td>@e.Content.ReleasedYear</td>
                    <td>@e.Identity.Type</td>
                    <td>
                        @if (e.DateTime.HasValue)
                        {
                            @e.DateTime.Value.ToString("D")
                        }
                        else
                        {
                            <b>???</b>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>